*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background: linear-gradient(to right, black, purple, black);
}
.container>.main_box{
    height: 500px;
    width: 800px;
    margin: auto;
    /* background-color: black; */
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.container>.main_box>.box1{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    /* background-color: red; */
}
.container>.main_box>.box1>select{
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    color: orangered;
    padding-left: 15px;
    background-color: black;
}
.container>.main_box>.box2{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: aqua; */
}
.container>.main_box>.box2>input{
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    background-color: black;
    color: orangered;
}
button{
    width: 610px;
    height: 50px;
    position: absolute;
    bottom: 150px;
    left: 95px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 7px;
}